.score-range {
	position: relative;

	.score-range__original-image {
		position: absolute;
		z-index: 1;
		img {
			opacity: 0.5;
		}
	}

	.score-range__dynamic-image {
		position: absolute;
		z-index: 2;
	}
}
