* {
	font-family: Roboto;
}

main {
	display: block;
	width: 100%;
	max-width: 80%;
	margin: 3em auto;
}

section {
	margin: 1em auto;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}
