.wp-block-gamblino-block-general-information__review-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "column-one column-two";
	padding: 0 2.125em;

	.wp-block-gamblino-block-general-information__review-2-column-one {
		grid-area: column-one;

		ul {
			list-style: none;
			padding: 0;
		}
	}

    .wp-block-gamblino-block-general-information__review-2-column-two {
		grid-area: column-two;

		ul {
			list-style: none;
			padding: 0;
		}
	}
}
