.ranking-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.ranking-card__top-image > div {
		position: initial !important;
	}

	.ranking-card__top-image img {
		position: absolute;
		display: block;
		width: auto;
		max-width: none;
	}

	.ranking-card__content-image img {
		margin-top: 1em;
	}
}
