.ranking-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.ranking-card__top-image {
		margin-bottom: -1em;
	}

	.ranking-card__content-image img {
		margin-top: 1em;
	}
}
