/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gamblino-block-general-information {
    display: grid;
    border: 3px solid rgba(255, 130, 0, 0.5);
    border-radius: 15px;

    .wp-block-gamblino-block-general-information__column-one {
        // grid-area: column-one;
    }

    .wp-block-gamblino-block-general-information__column-two {
   // grid-area: column-two;
    }
}
