.block-insert-review__lists {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;

	li {
		margin: -10px 0;
		p {
			background: #fff;
			padding: 1em;

			img {
				display: inline-block;
			}
		}
	}
}

.block-insert-review__button-row {
	display: inline-block;
	padding: 0 !important;
}
