.button-overlay {
	position: absolute;
	gap: 0;
	top: 1.5%;
	right: 2%;

	svg {
		width: 40px;
		height: 35px;
		fill: #fff;
	}
}

.navbar-phone-category-menu {
	position: absolute;
	display: block;
	height: 100vh;
	width: 35%;
	gap: 0;
	transition: all 0.2s ease-out;
	overflow-y: scroll;

	@media screen and (max-width: 57em) {
		width: 60%;
	}

	@media screen and (max-width: 33.75em) {
		width: calc(100% - 55px);
	}

	&[data-state='closed'] {
		display: none;
	}

	&[data-state='opened'] {
		display: block;
	}

	@media (min-width: 57em) {
		display: none;
	}

	.navbar-phone-category-menu__container {
		gap: 0;
	}
}
