.wp-block-gamblino-block-general-information__header {
    display: flex;
    gap: 2em;
    list-style: none;
  
    p {
        margin: 0;
        padding-right: 1em;
        border-right: solid rgba(0, 0, 0, 0.1);;
    }
}
