.ranking-card-block {
	display: flex;
	flex-wrap: wrap;
	padding: 2em;
	background: #fff;
	border: 3px solid rgba(255, 130, 0, 0.5);
	border-radius: 15px;
	margin-left: -10px;
	margin-right: -10px;

	.wp-columns {
		flex-direction: column !important;
	}

	@for $i from 1 through 6 {
		&.columns-#{$i} {
			.wp-block-gamblino-block-ranking-card {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}
}
