.wp-block-gamblino-block-general-information__button {
    display: inline-flex;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    width: 50%;

    a {
        text-decoration: none;
        color: #664852;
    }

    p {
        margin: 0;
    }
}