.wp-block-gamblino-block-general-information__button {
    display: inline-flex;
    width: 50%;

    a {
        text-decoration: none;
        color: #664852;
    }

    p {
        margin: 0;
    }
}