.wp-block-gamblino-block-general-information {
	border: 3px solid rgba(255, 130, 0, 0.5);
	border-radius: 15px;

	.wp-block-gamblino-block-general-information__header {
		display: flex;
		gap: 2em;
		list-style: none;

		p {
			margin: 0;
			padding-right: 1em;
			border-right: solid rgba(0, 0, 0, 0.1);
		}
	}

	.wp-block-gamblino-block-general-information-container {
		display: grid;
		grid-template-areas: "column-one column-two";


		.wp-block-gamblino-block-general-information-container__column-one {
			grid-area: column-one;
		}

		.wp-block-gamblino-block-general-information-container__column-two {
			grid-area: column-two;
		}
	}
}
