.image-ads-block {
	position: relative;
	display: grid;
	padding: 3em;
	gap: 3em;

	@for $i from 1 through 6 {
		&.columns-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
			margin: 2em auto;
		}
	}

	div {
		@for $i from 1 through 6 {
			&.columns-#{$i} {
				grid-template-columns: repeat(#{$i}, 1fr);
				margin: 2em auto;
			}
		}

		margin-left: -10px;
		margin-right: -10px;

		max-width: none;
		margin: 0;

		.media-image {
			&.is-loading img {
				opacity: 0.3;
			}

			.components-spinner {
				position: absolute;
				inset: 0;
				margin: auto;
			}
		}
	}

	> div {
		margin: 10px;
	}
}
