.image-ads-block {
	display: block;
	padding: 1em;

	.wp-columns {
		flex-direction: column !important;
		margin: 0 !important;
	}

	@for $i from 1 through 6 {
		&.columns-#{$i} {
			> .block-editor-inner-blocks
				> .block-editor-block-list__layout
				> [data-type="gamblino-block/image-adverstiment-anchor-link"] {
				width: calc(100% / #{$i} - 55px);
				margin: 2em auto;
			}
		}
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="gamblino-block/image-adverstiment-anchor-link"] {
			max-width: none;
			margin: 0;

			.media-image {
				position: relative;

				&.is-loading img {
					opacity: 0.3;
				}

				.components-spinner {
					position: absolute;
					inset: 0;
					margin: auto;
				}
			}
		}

		> [data-type="gamblino-block/image-adverstiment-anchor-link"] {
			margin: 10px;
		}
	}
}
