.footer-main {
	padding: 2em 5em;
	background-color: #ff8e00;

	@media screen and (max-width: 390px) {
		padding: 0.5em;
	}

	.footer-menus-1 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 2em;

		@media screen and (max-width: 390px) {
			grid-template-columns: 1fr;
			padding: 2em 2em;
		}

		.footer-nav-list {
			list-style: none;
			padding: 0;

			.footer-nav-container__permalink {
			}
		}
	}

	.footer-menus-2 {
		margin-top: 2em;

		@media screen and (max-width: 51.25em) {
			flex-direction: column;
		}

		@media screen and (max-width: 25em) {
			padding: 0 2em;
		}

		.social-media-icons__description {
			@media screen and (max-width: 51.25em) {
				text-align: start;
				margin-bottom: 1.5em;
			}
		}

		.footer-menus-2__description {
			@media screen and (max-width: 51.25em) {
				align-self: start;
				margin: 0;
				text-align: start;
			}
		}
	}

	.outbound-links {
		display: flex;
		align-items: center;
		gap: 1.5em;

		@media screen and (max-width: 25em) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			text-align: center;
		}
	}
}
