.footer-main {
	padding: 2em 5em;
	background-color: #ff8e00;

	.footer-menus-1 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 2em;

		@media screen and (max-width: 390px) {
			grid-template-columns: 1fr;
			padding: 2em 2em;
		}

		.footer-nav-list {
			list-style: none;
			padding: 0;

			.footer-nav-container__permalink {
			}
		}
	}

	.footer-menus-2 {
		margin-top: 2em;

		.social-media-icons__permalinks {
		}
	}
}
