.header-container {
	position: relative;

	@media (max-width: 57em) {
		.navbar-desktop {
			display: none;
		}

		.navbar-mobile {
			display: flex;
		}
	}

	@media (min-width: 57em) {
		.navbar-desktop {
			display: flex;
		}

		.navbar-mobile {
			display: none;
		}
	}
}
