.wp-block-gamblino-block-general-information-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 2.125em;

	.wp-block-gamblino-block-general-information-body__column-one {
		// grid-area: column-one;
	}

	.wp-block-gamblino-block-general-information-body__column-two {
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
			border: 5px solid #626262;
			border-radius: 1em;
		}

		table thead {
			background-color: #D4D4D4;
		}

		td,
		th {
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #d4d4d4;
		}
	}
}
